section.repository-list {
  margin: 2.5rem; 
  h1 {
    margin-bottom: 1rem;
  }

  ul {
    list-style: none;

    li {
      background: #202024;
      border-radius: 1rem;
      padding: 1rem;
      margin-top: 1.25rem;
      
      strong {
        font-size: 1.5rem;
      }

      p {
        font-size: 1rem;
        filter: brightness(0.8);
        margin-top: 0.5rem;
      }

      a {
        display: inline-block;
        margin-top: 16px;
        text-decoration: none;
        border-radius: 0.5rem;
        font-weight: bold;

        padding: 0.5rem;

        background: #865DCA;

        transition: filter 0.2s;

        &:hover{
          filter: brightness(0.8)
        }
      }
    }
  }  
}